<h1>Lista de Productos</h1>
<ul>
  {{#each products}}
    <li>
      <h2>{{this.title}}</h2>
      <p>{{this.description}}</p>
      <p>Precio: ${{this.price}}</p>
      <!-- Agrega más detalles según sea necesario -->
    </li>
  {{/each}}
</ul>
